<!DOCTYPE html>
<html>
    <head>
        <!-- individual pages can override this if they want -->
        <% var title = 'Authentication Example' %>
        <title><%= title %></title>
        <style>
            body {
                padding: 50px;
                font: 13px Helvetica, Arial, sans-serif;
            }
            .error {
                color: red;
            }
            .success {
                color: green;
            }
            div {
                padding-left: 30px;
            }
        </style>
    </head>
    <body>
        <div align="right">
            <% if (user) { %>
                <a href="/user">Home</a> | <a href="/logout">logout</a>
            <% } %>
        </div>