<!DOCTYPE html>
<html>
    <head>
        <!-- individual pages can override this if they want -->
        <% var title = 'Authentication Example' %>
        <title><%= title %></title>
        <style>
            body {
                padding: 50px;
                font: 13px Helvetica, Arial, sans-serif;
            }
            .error {
                color: red
            }
            .success {
                color: green;
            }
        </style>
    </head>
    <body>
        <div align="center">
            <a href="/user">User</a> | <a href="/game">Game</a> | <a href="/invest">Investment</a>
        </div>
        <div align="right"><a href="/logout">logout</a></div>